* {
  margin: 0px;
  padding: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  background-size: cover;
  padding: 30px;
}

@media (min-width: 576px) {
  .main-container {
    padding: 60px;
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
    background-size: cover;
  }
}

.card {
  border: 2px solid grey;
  border-radius: 8px;
  box-shadow: 4px 0px 4px 0px grey;
  padding: 20px;
  margin-top: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 48px;
}

.timmer-text {
  margin-top: 14px;
  margin-left: 10px;
}

.buttons {
  margin-top: 14px;
}

button {
  outline: none;
  border: none;
  width: 100px;
  height: 36px;
  border-radius: 8px;
  margin-right: 8px;
  color: #fff;
  font-weight: bold;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: #eaa800;
}
